<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.swin.sleepfit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" / -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".sensing.SensingService"
            android:process=":edu.uml.swin.sleepfit.SensingService" >
        </service>

        <receiver android:name=".sensing.BootCompletedIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".sensing.AlarmReceiver" >
        </receiver>

        <activity
            android:name=".NewLifestyleActivity"
            android:label="@string/title_activity_new_lifestyle"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uml.swin.sleepfit.MainActivity" />
        </activity>
        <activity
            android:name=".UserSurvey"
            android:label="@string/title_activity_user_survey" >
        </activity>
        <activity
            android:name=".ViewSleepHistoryActivity"
            android:label="@string/title_activity_view_sleep_history" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uml.swin.sleepfit.MainActivity" />
        </activity>
        <activity
            android:name=".LifestyleDetailActivity"
            android:label="@string/title_activity_lifestyle_detail" >
        </activity>
        <activity
            android:name=".MorningCardActivity"
            android:label="@string/title_activity_morning_card" >
        </activity>
        <activity
            android:name=".EveningCardActivity"
            android:label="@string/title_activity_evening_card" >
        </activity>
    </application>

</manifest>
